<div class="direction">
  <% if params.key?(:direction) == false || params[:direction] == 'create' %>
    <%= link_to user_packed_bag_path(@packed_bag, params: {
    direction: 'pack',
    category:  params[:category],
    group:     params[:group] }),
    class: "switch-to-pack" do %>
      <div>
        <p>Let's pack my bag</p>
      </div>
    <% end %>
  <% else %>
    <%= link_to user_packed_bag_path(@packed_bag, params: {
      direction: 'create',
      category:  params[:category],
      group:     params[:group] }),
      class: "switch-to-create" do %>
      <div>
        <p>Let's create more items</p>
      </div>
    <% end %>
  <% end %>
</div>
