<div class="group">
  <%= link_to user_packed_bag_path(@packed_bag, params: {
  group:     'true',
  direction: params[:direction],
  category:  params[:category] }),
  class: "#{'interface-selected' if params[:group] == 'true' || params.key?(:group) == false }" do %>
    <%= image_tag "interface/group_items",
    class: "interface-icon" %>
    <p><small>GROUP</small></p>
  <% end %>
  <%= link_to user_packed_bag_path(@packed_bag,params: {
  group:     'false',
  direction: params[:direction],
  category:  params[:category] }),
  class: "#{'interface-selected' if params[:group] == 'false'}" do %>
    <%= image_tag "interface/ungroup_items",
    class: "interface-icon" %>
    <p><small>UNGROUP</small></p>
  <% end %>
</div>
