<%= link_to user_bag_path(@bag, params: { display: 'group' }),
remote: :true, class: "display #{'selected' if session[:display] == 'group'}" do %>
  <%= image_tag (session[:display] == 'group' ? "interface/group_selected.svg" : "interface/group.svg"), class: "picture" %>
  <p>GROUP</p>
<% end %>
<%= link_to user_bag_path(@bag, params: { display: 'edit' }),
remote: :true, class: "display #{'selected' if session[:display] == 'edit'}" do %>
  <%= image_tag (session[:display] == 'edit' ? "interface/edit_selected.svg" : "interface/edit.svg"), class: "picture" %>
  <p>EDIT</p>
<% end %>
