<div id="navbar">

  <div class="navbar-top">

    <div id="load-container">
      <%= render 'user/bags/navbar/load' %>
    </div>

    <div id="operations">
      <%= render 'user/bags/navbar/operations' %>
    </div>

  </div>

  <div class="navbar-bottom">

    <div id="categories">
      <%= render 'user/bags/navbar/categories' %>
    </div>

    <div id="displays">
      <%= render 'user/bags/navbar/displays' %>
    </div>

  </div>

</div>
