#categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 15% 0 15%;
  border-top: solid $p1 $blue;
  .category {
    padding: $p12;
    color: lighten($gray, 40%);
    font-size: $font-size-normal;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      color: $blue;
    }
  }
  .all-categories {
    font-weight: bold;
    color: lighten($gray, 20%);
    margin-right: $p8;
  }
  .selected {
    color: $blue;
  }
}
