#categories {
  display: grid;
  flex: 8;
  grid-template-columns: repeat( auto-fit, minmax($p72, 1fr) );
  .category {
    padding: $p8;
    border-bottom: solid $p4 transparent;
    text-align: center;
    opacity: 0.7;
    .picture {
      display: block;
      width: $p48;
      margin: 0 auto;
      margin-bottom: $p4;
      border: solid $p2 transparent;
      border-radius: 50%;
    }
    p {
      margin: 0 auto;
      width: $p56;
      color: lighten($gray, 20%);
      font-size: $p12;
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  .selected {
    .picture {
      border: solid $p4 $green;
    }
    border-bottom-color: $green;
    opacity: 1;
  }
}
