#categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
  .category {
    padding: $p4 + $p2;
    color: lighten($gray, 40%);
    font-size: $font-size-normal;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: solid $p2 transparent;
    &:hover {
      color: $blue;
    }
  }
  .all-categories {
    font-weight: bold;
    color: lighten($gray, 20%);
    margin-right: $p8;
  }
  .selected {
    border-bottom-color: $blue;
    color: $blue;
  }
}
