#displays {
  margin-top: $p24;
  width: $p152;
  align-self: flex-end;
  > p {
    font-size: $font-size-normal;
    text-align: center;
    color: lighten($gray, 20%);
    margin-bottom: $p4;
  }
  .display-options{
    display: flex;
    .display {
      flex: 1;
      padding: $p8;
      border-bottom: solid $p4 transparent;
      text-align: center;
      opacity: 0.7;
      .picture {
        width: $p48;
        margin-bottom: $p4;
        opacity: 0.2;
      }
      p {
        width: $p56;
        color: $blue;
        font-size: $p12;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        opacity: 0.9;
      }
    }
    .selected {
      border-bottom-color: $blue;
      opacity: 1;
      .picture {
        opacity: 0.4;
      }
    }
  }
}
