@import "categories";
@import "operations";
@import "load";
@import "displays";

#navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: white;
  border-bottom: solid $p2 darken($light-gray, 10%);
  min-width: $p336;

  .navbar-top {
    display: flex;
    min-width: $p248;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: $p8;
    margin-bottom: $p16;
  }
}
