#operations {
  align-self: flex-end;
  width: 45%;
  .operation {
    display: flex;
    align-items: center;
    .picture {
      height: $p48;
      width: $p48;
      margin-right: $p16;
    }
    p {
      height: $p48;
      line-height: $p48 - $p2;
      padding: 0 $p24;
      border: solid $p2;
    }
  }
  .switch-to-create p {
    border-color: $green;
    color: $green;
  }
  .switch-to-pack p {
    border-color: $blue;
    color: $blue;
  }
  .back-to-bags {
    margin-top: $p12;
    display: block;
    p {
      color: lighten($gray, 20%);
      font-size: $font-size-normal;
    }
  }
}
