<div id="packed-items">
  <div class="cards-indication">
    <p class="cards-indication">Here are all your items packed into the bag</p>
    <hr>
    <% if @packed_bag.packed_items.empty? %>
      <p>Oh! It looks like you don't have any item packed!</p>
      <p>Select items on the left to pack them...</p>
    <% end %>
  </div>

  <% if @packed_bag.packed_items.any? && (@cat == '0' || @cat.nil?) %>
    <%= button_to 'unpack all', user_packed_item_path(@packed_bag.packed_items.first, params: {
      unpack:    'all',
      packed_bag: @packed_bag,
      cat: @cat,
      ope: @ope,
      dis: @dis
    }), method: :delete, remote: :true, class: 'item-action item-action-all unpack-item' %>
  <% else %>
    <div class="button-substitute"></div>
  <% end %>
  <div class="items-container">
    <% if @dis == "group" || @dis.nil? %>
      <% @packed_references.sort_by { |reference| reference.name }.each do |packed_reference| %>
        <%= render 'user/packed_items/packed_item_by_reference', reference: packed_reference %>
      <% end %>
    <% else %>
      <% @packed_items.each do |packed_item| %>
        <%= render 'user/packed_items/packed_item', packed_item: packed_item %>
      <% end %>
    <% end %>
  </div>
</div>
