<div class="cards-indication">
  <p>Here are all you owned items</p>
  <hr>
  <% if current_user.items.empty? %>
    <p>Oh! It looks like you don't have any item packed!</p>
    <p>Select "Create more items" and start you own collection...</p>
  <% end %>
</div>

<div class="items-container">
  <% if @dis == 'group' || @dis.nil? %>
    <% @owned_references.each do |reference| %>
      <%= render 'user/items/item_created_by_reference', reference: reference %>
    <% end %>
  <% else %>
    <% @owned_items.each do |item| %>
      <%= render 'user/items/item_created', item: item %>
    <% end %>
  <% end %>
</div>
