<div class="cards-indication">
  <hr>
  <p>Here are all you owned items</p>
  <hr>
  <% if current_user.items.empty? %>
    <p>Oh! It looks like you don't have any item packed!</p>
    <p>Select "Create more items" and start you own collection...</p>
  <% end %>
</div>

<div class="items-container">
  <% if params[:group] == "false" %>
    <% @owned_items.each do |item| %>
      <%= render 'user/packed_bags/cards/item', direction: 'create', item: item %>
    <% end %>
  <% else %>
    <% @owned_references.each do |reference| %>
      <%= render 'user/packed_bags/cards/items_group', direction: 'create', reference: reference %>
    <% end %>
  <% end %>
</div>
