<% categories_displayed.each do |category| %>
  <% category.references.each do |reference| %>
    <div class="item-ref" data-reference=<%= reference.id %>>
      <%= render 'item', reference: reference %>
    </div>
  <% end %>
<% end %>
