<h1>Items</h1>

<div class="container">
  <% @categories.each do |category| %>
    <div class="row">
      <h4><%= category.name.upcase %></h4>
      <% category.references.each do |reference| %>
        <div class="item-container" data-reference=<%= reference.id %>>
          <%= render 'item',
            reference: reference,
            new_item: @new_item
          %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
