<h1>ItemRefs</h1>

<ul>
  <% @item_refs.each do |item| %>
    <%= render 'shared/item_ref_overview',
      new_item: @new_item,
      item: item
    %>
  <% end %>
</ul>

<%= render 'shared/back_list' %>
