<h1>ItemRefs#index</h1>

<ul>
  <% @item_refs.each do |item_ref| %>
    <%= render 'shared/item_overview',
      item: item_ref,
      name: item_ref.name,
      size: item_ref.size
    %>
  <% end %>
</ul>
