<div class="container">
  <nav class="nav nav-pills flex-column flex-sm-row nav-categories nav-items">
    <%= render 'nav', categories: @categories, filter: @filter %>
  </nav>

  <div class="item-results">
    <%= render 'results', categories_displayed: @categories_displayed %>
  </div>
</div>
