<h1>ItemRef</h1>

<%= render 'shared/item_extended',
  name: @item_ref.name,
  category: @item_ref.category,
  size: @item_ref.size,
  weight: @item_ref.weight
%>

<%= render 'shared/form_item',
  item_ref: @item_ref,
  new_item: @new_item,
  action: 'add to my items'
%>

<%= render 'shared/back_list' %>
