<h1>ItemRef</h1>

<%= render 'shared/item_extended',
  name: @item_ref.name,
  category: @item_ref.category,
  size: @item_ref.size,
  weight: @item_ref.weight
%>

<%= render 'shared/item_button_add',
  new_item: @new_item,
  item: @item_ref,
  commentary: true
%>

<%= render 'shared/back_list' %>
