<div id="displayed-items">
  <% if session[:operation] == 'create' %>
    <div id="references">
      <%= render 'user/packed_bags/cards/display_references' %>
    </div>
  <% else %>
    <div id="items_to_pack">
      <%= render 'user/packed_bags/cards/display_items_to_pack' %>
    </div>
  <% end %>
</div>
<div class="wrapper-separator"></div>
<div id="displayed-items">
  <% if session[:operation] == 'create' %>
    <div id="items-created">
      <%= render 'user/packed_bags/cards/display_items_created' %>
    </div>
  <% else %>
    <div id="packed-items">
      <%= render 'user/packed_bags/cards/display_packed_items' %>
    </div>
  <% end %>
</div>
