<p>
  <span>Weight: <%= @packed_bag.weight %> K</span>
  <span> | </span>
  <span>Load: <%= @packed_bag.load %> / <%= @packed_bag.capacity.round %> L</span>
  <span> | </span>
  <span>Loaded: <%= (@packed_bag.loaded * 100).round %> %</span>
</p>
