<%= render 'user/packed_bags/navbar/navbar' %>

<!-- REFERENCES TO ITEMS -->

 <!-- +----------------+----------------+
      |                |                |
      |   references   |      items     |
      |                |                |
      +----------------+----------------+ -->

<!-- ITEMS TO PACKED ITEMS -->

 <!-- +----------------+----------------+
      |                |                |
      |      items     |  packed_items  |
      |                |                |
      +----------------+----------------+ -->

<div id="packed-bag-wrapper">
  <%= render 'user/packed_bags/displayer' %>
</div>
