$p1:   0.0625rem;
$p2:   0.125rem;
$p4:   0.25rem;

// Multiples of 8
$p8:   0.5rem;
$p16:  1rem;
$p24:  1.5rem;
$p32:  2rem;
$p40:  2.5rem;
$p48:  3rem;
$p56:  3.5rem;
$p64:  4rem;
$p72:  4.5rem;
$p80:  5rem;
$p88:  5.5rem;
$p96:  6rem;
$p104: 6.5rem;
$p112: 7rem;
$p120: 7.5rem;
$p128: 8rem;
$p136: 8.5rem;
$p144: 9rem;
$p152: 9.5rem;
$p160: 10rem;
$p168: 10.5rem;
$p176: 11rem;
$p184: 11.5rem;
$p192: 12rem;
$p200: 12.5rem;
$p208: 13rem;
$p216: 13.5rem;
$p224: 14rem;
$p232: 14.5rem;
$p240: 15rem;
$p248: 15.5rem;
$p256: 16rem;
$p264: 16.5rem;
$p272: 17rem;
$p280: 17.5rem;
$p288: 18rem;
$p296: 18.5rem;
$p304: 19rem;
$p312: 19.5rem;
$p320: 20rem;
$p328: 20.5rem;
$p336: 21rem;
$p344: 21.5rem;
$p352: 22rem;
$p360: 22.5rem;
$p368: 23rem;
$p376: 23.5rem;
$p384: 24rem;
$p392: 24.5rem;
$p400: 25rem;
$p408: 25.5rem;
$p416: 26rem;
$p424: 26.5rem;
$p432: 27rem;
$p440: 27.5rem;
$p448: 28rem;
$p456: 28.5rem;
$p464: 29rem;
$p472: 29.5rem;
$p480: 30rem;
$p488: 30.5rem;
$p496: 31rem;
$p504: 31.5rem;
$p512: 32rem;
