#bags-page {
  margin: $p64 5%;
  min-height: 100vh;

  #indications {
    min-height: $p64;
    display: block;
    text-align: center;
    margin-bottom: $p24;
    p {
      font-size: $p16;
      color: lighten($gray, 30%);
    }
    .main-indication {
      font-size: $p16 + $p4;
      color: $blue;
    }
  }

  #bags {
    display: flex;
    flex-wrap: wrap;

    #bag-form {
      flex: 1;
      margin-top: $p12;
      margin-right: $p24;
    }

    #packed-bags {
      flex: 2;
      justify-content: flex-start;
      background-color: $light-gray;

      .bag-container {
        margin: $p4;
        display: inline-block;
      }


    }

  }
}
