#bags-page {
  min-height: 100vh;

  .illustration {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30%;
    z-index: -1;
  }

  .indications {
    border: solid $p1 red;
    margin: $p64 auto $p32 auto;
    width: 80%;
    text-align: center;
    p {
      color: lighten($gray, 30%);
    }
  }

  .bag-form {
    border: solid $p1 lighten($gray, 70%);
    padding: $p16;
    margin: 0 auto $p32 auto;;
    width: 50%;
    .form-group {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
    }
    label {
      width: $p80;
      height: auto;
      margin: 0;
      font-size: $font-size-normal;
      margin-right: $p8;
      margin-bottom: $p8;
    }
    input {
      flex: 3;
      min-width: $p240;
      height: auto;
      border: none;
      border-radius: 0;
      border-bottom: solid $p1 lighten($gray, 60%);
      font-size: $font-size-normal;
      margin-bottom: $p8;
    }
    .picture-indication {
      width: $p80;
      font-size: $font-size-normal;
    }
    .pictures {
      margin: $p12 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      .picture {
        flex: 1;
        input {
          min-width: 0;
          visibility:hidden;
          border: solid $p2;
        }
        .picture-thumb {
          width: $p64;
          cursor: pointer;
        }
        input[type="radio"] + label {
          padding-bottom: $p8;
          border-bottom: solid $p8 transparent;
        }
        input[type="radio"]:checked + label {
          padding-bottom: $p8;
          border-bottom: solid $p8 $blue;
        }
      }
    }
    .submit {
      margin-top: $p12;
      text-align: right;
      input {
        border: none;
        background-color: $blue;
        color: white;
      }
    }
  }
}

#bags-container {
  display: none;
}
