#packed-bag-wrapper {
  #displayed-items {
    padding: 0 5% $p72 5%;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    width: 50%;
    height: 100vh;
  }
  .displayed-items-left,
  .displayed-items-left {
    p {
      margin: 0 auto;
    }
  }
}


.cards-indication {
  margin-top: $p16;
  text-align: center;
  color: lighten($gray, 30%);
}

::-webkit-scrollbar {
    width: $p8;
}

::-webkit-scrollbar-track {
    background: darken($light-gray, 4%);
}

::-webkit-scrollbar-thumb {
    background: darken($light-gray, 12%);
    border-radius: 0 0 $p4 $p4;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($light-gray, 15%);
}
