#packed-bag-wrapper {
  #displayed-items {
    padding: 0 $p40 $p40 $p40;
    background-color: yellow;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    width: 50%;
    height: 60vh;
  }
  .wrapper-separator {
    // height: 100vh;
    // float: left;
  }
  .displayed-items-left,
  .displayed-items-left {
    p {
      margin: 0 auto;
    }
  }
}

.operation {
  width: 40%;
  margin: auto;
  padding: $p16;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch-to-create,
.switch-to-pack {
  flex: 1;
  padding: $p16;
  text-align: center;
  color: white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.switch-to-create {
  background-color: $green;
}

.switch-to-pack {
  background-color: $blue;
}

.cards-indication {
  margin-top: $p16;
  text-align: center;
  color: lighten($gray, 30%);
}

::-webkit-scrollbar {
    width: $p8;
}

::-webkit-scrollbar-track {
    background: darken($light-gray, 4%);
}

::-webkit-scrollbar-thumb {
    background: darken($light-gray, 12%);
    border-radius: 0 0 $p4 $p4;
}

::-webkit-scrollbar-thumb:hover {
    background: darken($light-gray, 15%);
}
