<% if filtered_by_category %>
  <% category_selected.references.each do |reference| %>
      <% if owned_references.include? reference %>
        <div class="item-ref" data-reference=<%= reference.id %>>
          <%= render 'item', reference: reference %>
        </div>
      <% end %>
  <% end %>

<% else %>
  <% categories.each do |category| %>
    <% category.references.each do |reference| %>
      <% if owned_references.include? reference %>
        <div class="item-ref" data-reference=<%= reference.id %>>
          <%= render 'item', reference: reference %>
        </div>
      <% end %>
    <% end %>
  <% end %>

<% end %>
