<h1>User:Items#index</h1>

<ul>
  <% @items.each do |item| %>
    <%= render 'shared/item_overview',
      path: user_items_path,
      name: item.item_ref.name,
      size: item.custom_size
    %>
  <% end %>
</ul>
