<div class="introduction">
  <p><strong>Pack it</strong> is a small project done in order to learn more about Ruby and the framework <strong>Ruby on Rails</strong>.</p>
  <p>This website allows the user to prepare a bag before a trip. First, user chooses a bag to pack, then he adds items to his stuff collection and finally he packs part or the totality of them in the bag.</p>
</div>
<hr>
