<div class="introduction">
  <p><strong>Pack it</strong> is a small prototype done in order to learn more about Ruby and its framework <strong>Ruby on Rails</strong>.</p>
  <p>This application allows the user to prepare a bag before a trip: user chooses a bag to pack, adds items to his stuff collection and finally packs part or the totality of those items in the bag.</p>
</div>
<div class="before-form">
  <p>Since this application is just a demo, you can provide a fake mail in order to connect. Just be sure it is a correct mail pattern.</p>
</div>
<hr>
