<ul>
  <li><label>name:</label><span><%= name %></span></li>
  <li><label>category:</label><span><%= category %></span></li>
  <li><label>size:</label><span><%= size %></span></li>
  <li><label>weight:</label><span><%= weight %></span></li>
</ul>
