<li>
  <%= link_to item.item_ref.name, user_item_path(item) %>
  <%= link_to 'delete', user_item_path(item), method: :delete, class: 'back back-danger' %>
  <% unless item.commentary.nil? %>
      <p><small><%= item.commentary %></small></p>
  <% end %>
</li>
