<hr>
<div class="nav justify-content-center">
  <%= render 'shared/go_to',
    destination: 'all items',
    destination_path: item_refs_path
  %>
  <%= render 'shared/go_to',
    destination: 'my journeys',
    destination_path: user_journeys_path
  %>
  <%= render 'shared/log' %>
</div>
<hr>
