<hr>
<div class="nav justify-content-center">
  <%= render 'shared/back_to',
    destination: 'all items',
    destination_path: item_refs_path
  %>
  <%= render 'shared/back_to',
    destination: 'my items',
    destination_path: user_items_path
  %>
  <%= render 'shared/log' %>
</div>
<hr>
