<!-- reference -->

<% if reference.items.any? %>
  <%= link_to '-', user_item_path(reference.items.last, params: {reference: reference}), class: 'remove-enable', method: :delete, remote: :true  %>
<% else %>
  <span class="remove-disable">-</span>
<% end %>
