<!-- reference -->

<% if reference.items.any? %>
  <%= link_to user_item_path(reference.items.last, params: {reference: reference}), class: 'remove-enable', method: :delete, remote: :true do %>
    <i class="fas fa-minus-circle"></i>
  <% end %>
<% else %>
  <a class="remove-disable">
    <i class="fas fa-minus-circle"></i>
  </a>
<% end %>


