<h1>Bags#show</h1>

<%= render 'shared/bags_extended',
  name: @bag.name,
  category: @bag.category,
  size: @bag.size,
  capacity: @bag.capacity,
  weight: @bag.weight
%>

<%= render 'shared/back_to',
  destination: 'all bags',
  destination_path: bags_path
%>
