<p>DISPLAY ITEMS</p>
<div class="display-options">
  <%= link_to user_packed_bag_path(@packed_bag, params: { display: 'group' }),
  remote: :true, class: "display #{'selected' if session[:display] == 'group'}" do %>
    <%= image_tag "interface/group", class: "picture" %>
    <p>GROUP</p>
  <% end %>
  <%= link_to user_packed_bag_path(@packed_bag, params: { display: 'ungroup' }),
  remote: :true, class: "display #{'selected' if session[:display] == 'ungroup'}" do %>
    <%= image_tag "interface/edit", class: "picture" %>
    <p>EDIT</p>
  <% end %>
</div>
