<%= link_to user_packed_bag_path(@packed_bag, params: { dis: 'group', ope: @ope, cat: @cat }),
class: "display #{'selected' if @dis == 'group' || @dis.nil? }" do %>
  <%= image_tag "interface/group_items", class: "picture" %>
  <p>GROUPED</p>
<% end %>
<%= link_to user_packed_bag_path(@packed_bag,params: { dis: 'ungroup', ope: @ope, cat: @cat }),
class: "display #{'selected' if @dis == 'ungroup'}" do %>
  <%= image_tag "interface/ungroup_items", class: "picture" %>
  <p>DETAILED</p>
<% end %>
