<div id="navbar">

  <div class="navbar-top">

    <div id="operations">
      <%= render 'user/packed_bags/navbar/operations' %>
    </div>

    <div id="load">
      <%= render 'user/packed_bags/navbar/load' %>
    </div>

    <div id="displays">
      <%= render 'user/packed_bags/navbar/displays' %>
    </div>

  </div>

  <div id="categories">
    <%= render 'user/packed_bags/navbar/categories' %>
  </div>

</div>
