<div id="navbar">

  <div class="up">

    <div id="operations">
      <%= render 'user/packed_bags/navbar/operations' %>
    </div>

<!--     <div class="vertical-line">
      <div></div>
    </div> -->

    <div id="load">
      <%= render 'user/packed_bags/navbar/load' %>
    </div>

<!--     <div class="vertical-line">
      <div></div>
    </div> -->

    <div id="displays">
      <%= render 'user/packed_bags/navbar/displays' %>
    </div>

  </div>

  <div class="down">
    <div id="categories">
      <%= render 'user/packed_bags/navbar/categories' %>
    </div>
  </div>

</div>
