<div class="rem-convert">
  <div class="pixels">
    <div>1px</div>
    <div>2px</div>
    <div>4px</div>
    <div>8px</div>
    <div>16px</div>
    <div>24px</div>
    <div>32px</div>
    <div>40px</div>
    <div>48px</div>
    <div>56px</div>
    <div>64px</div>
    <div>72px</div>
    <div>80px</div>
    <div>88px</div>
    <div>96px</div>
    <div>104px</div>
    <div>112px</div>
    <div>120px</div>
    <div>128px</div>
    <div>136px</div>
    <div>144px</div>
    <div>152px</div>
    <div>160px</div>
    <div>168px</div>
    <div>176px</div>
    <div>184px</div>
    <div>192px</div>
    <div>200px</div>
    <div>208px</div>
    <div>216px</div>
    <div>224px</div>
    <div>232px</div>
    <div>240px</div>
    <div>248px</div>
    <div>256px</div>
    <div>264px</div>
    <div>272px</div>
    <div>280px</div>
    <div>288px</div>
    <div>296px</div>
    <div>304px</div>
    <div>312px</div>
    <div>320px</div>
    <div>328px</div>
    <div>336px</div>
    <div>344px</div>
    <div>352px</div>
    <div>360px</div>
    <div>368px</div>
    <div>376px</div>
    <div>384px</div>
    <div>392px</div>
    <div>400px</div>
    <div>408px</div>
    <div>416px</div>
    <div>424px</div>
    <div>432px</div>
    <div>440px</div>
    <div>448px</div>
    <div>456px</div>
    <div>464px</div>
    <div>472px</div>
    <div>480px</div>
    <div>488px</div>
    <div>496px</div>
    <div>504px</div>
    <div>512px</div>
  </div>
  <div class="bars">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
