<h1>BagRefs#index</h1>

<ul>
  <% current_user.bags.each do |bag_ref| %>
    <%= render 'shared/bag_overview',
      path: bag_ref_path(bag_ref),
      name: bag_ref.name,
      size: bag_ref.size
    %>
  <% end %>
</ul>
