<h1>BagRefs#show</h1>

<%= render 'shared/bag_extended',
  name: @bag_ref.name,
  category: @bag_ref.category,
  size: @bag_ref.size,
  capacity: @bag_ref.capacity,
  weight: @bag_ref.weight
%>

<%= render 'shared/form_bag',
  new_bag: @new_bag,
  action: 'add to my bags'
%>

<%= render 'shared/back_to',
  destination: 'all bags',
  destination_path: bag_refs_path
%>
