<div class="journeys-page">
  <div>
    <%= render 'user/journeys/form' %>
    <div class="journeys-container">
      <% current_user.journeys.each do |journey| %>
        <%= render 'user/journeys/journey', journey: journey %>
      <% end %>
    </div>
  </div>
</div>
