<h1><%= @journey.name %></h1>
<hr>

<% if @journey.packed_bags.count.zero? %>

  <h2>Let's pack your bag!</h2>

  <hr>

  <h4>Start with an empty bag</h4>
  <%= render 'user/packed_bags/form',
    templates: @templates,
    packed_bag: @packed_bag,
    journey: @journey,
    new_bag: @bag
  %>

  <hr>

  <h4>Start with a previous packed bag</h4>
  <div class="container" id="bags-container">
    <div class="row">
      <% current_user.packed_bags.each do |packed_bag| %>
        <%= render 'user/packed_bags/packed_bags_select',
          packed_bag: packed_bag,
          journey: @journey
        %>
      <% end %>
    </div>
  </div>

<% else %>

  <h2>Your packed bags!</h2>

  <% @journey.packed_bags.each do |packed_bag| %>
    <%= render 'user/packed_bags/packed_bag',
      packed_bag: packed_bag
    %>
  <% end %>

<% end %>
