<h1><%= @journey.name %></h1>
<hr>

<h3>Let's pack your bag!</h3>

<p><strong>Start with a empty bag</strong></p>
<%= render 'user/bags/select',
  bags: @bags,
  bag_refs: @bag_refs,
  new_bag: @new_bag
%>


<p><strong>Start with a previous packed bag</strong></p>
<%= render 'user/packed_bags/select',
  packed_bags: @packed_bags
%>
