<h1><%= @journey.name %></h1>
<hr>

<h2>Let's pack your bag!</h2>

<hr>

<h4>Start with an empty bag</h4>
<%= render 'user/bags/select',
  references: @references,
  new_bag: @bag
%>

<hr>

<h4>Start with a previous packed bag</h4>
<div class="container" id="bags-container">
  <div class="row">
    <%= render 'user/packed_bags/select',
      packed_bags: current_user.packed_bags
    %>
  </div>
</div>
