<div data-bag=<%= bag.id %>>
  <span><%= bag.name %></span>
  <%= button_to 'take this bag', user_packed_bags_path(params: { bag: bag }, method: :post %>
  <%= button_to 'delete', user_bag_path(bag), remote: :true, method: :delete %>
</div>
