<% unless current_user.bags.empty? %>
  <p class="bags-chapter">Your packed bags</p>
  <div id="bags-container">
    <% current_user.bags.order(created_at: :desc).each do |bag| %>
      <div class="bag-container" data-bag="<%= bag.id %>">
        <%= render 'user/bags/bag', bag: bag %>
      </div>
    <% end %>
  </div>
<% end %>

