<% if current_user.bags.empty? %>
  <p class="main-indication">Let's create your first bag!</p>
<% else %>
  <p class="main-indication"><strong>Open</strong> one of your bags or <strong>create</strong> a new one.</span></p>
  <p>Want to save time? <strong>Copy</strong> one of your bags to create one with the same packed items!</p>
<% end %>
