<% if current_user.bags.empty? %>
  <p>Let's create your first bag!</p>
<% else %>
  <p>Open one of your bags or create a new one.</span></p>
  <p>Want to save time? Copy one of your bags to create one with the same packed items!</p>
<% end %>
