<hr>

<h6>Take a bag of yours</h6>

<div class="container" id="bags-container">
  <div class="row">
    <% current_user.bags.each do |bag| %>
      <%= render 'user/bags/bag',
        bag: bag
      %>
    <% end %>
  </div>
</div>

<hr>

<h6>Add a new bag</h6>

<div class="container" id="bags-container">
  <div class="row">
    <% templates.each do |template| %>
      <%= render 'user/bags/form',
        template: template,
        new_bag: new_bag
      %>
    <% end %>
  </div>
</div>
