<div class="bags">
  <div id="owned-bags">
    <% bags.each do |bag| %>
      <%= render 'user/bags/bag_to_pack',
        bag: bag
      %>
    <% end %>
  </div>
  <hr>
  <p><strong>new empty bag</strong></p>
  <% bag_refs.each do |bag_ref| %>
    <%= render 'user/bags/form',
      bag_ref: bag_ref,
      new_bag: new_bag
    %>
  <hr>
  <% end %>
</div>
