<div id="bags-page">
  <div id="indications">
    <%= render 'user/bags/indications' %>
  </div>

  <div id="bags">

    <div id="bag-form">
      <%= render 'user/bags/form_create' %>
    </div>

    <div id="packed-bags">
      <%= render 'user/bags/packed_bags' %>
    </div>

  </div>
</div>
