<h1>User:Bags#index</h1>

<ul>
  <% @bags.each do |bag| %>
    <%= render 'shared/bag_overview',
      path: user_bags_path,
      name: bag.bag_ref.name,
      size: bag.custom_size
    %>
  <% end %>
</ul>
