<h1>Items#show</h1>

<%= render 'shared/item_extended',
  name: @item.name,
  category: @item.category,
  size: @item.size,
  weight: @item.weight
%>

<%= render 'shared/back_to',
  destination: 'all items',
  destination_path: items_path
%>
