.category_filters {
  display: flex;
  flex-wrap : wrap;
  background-color: darken($light-gray, 5%);
  padding: 0 $p8;
  padding-top: $p8;
  .category {
    flex: 1;
    padding: $p8;
    border-bottom: solid $p4 transparent;
    text-align: center;
    opacity: 0.7;
    .picture {
      width: $p48;
      margin-bottom: $p4;
    }
    p {
      width: $p56;
      color: lighten($gray, 20%);
      font-size: $p12;
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      opacity: 0.9;
    }
  }
  .category-selected {
    border-bottom-color: $green;
    opacity: 1;
  }
  .flex-space {
    flex: 1;
  }
  .group {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      padding: $p8;
      flex: 1;
      text-align: center;
      border-bottom: solid $p4 transparent;
      opacity: 0.5;
      .interface-icon {
        width: $p32;
        margin: auto;
        margin-top: $p8;
        margin-bottom: $p4;
        display: block;
        opacity: 0.25;
      }
    }
    .interface-selected {
      border-bottom-color: $blue;
      opacity: 1;
    }
  }
}
