.item-ref {
  display: inline-block;
  .item-card {
    width: $p176;
    margin: $p8;
    padding: $p16;
    border: solid $p4 lighten($green, 40%);
    border-radius: $border-radius-large;
    text-align: center;
    .picture {
      width: $p80;
      height: $p80;
      opacity: 0.25;
      margin-bottom: $p8;
    }
    .name {
      margin: 0 auto;
      font-weight: bolder;
      color: lighten($gray, 40%);
      width: $p128;
      padding: $p4;
      word-wrap: break-word;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .qty-buttons{
      display: flex;
      align-items: center;
      margin-top: $p8;
      height: $p40;
      .add, .remove-enable, .remove-disable, .count {
        flex: 1;
        color: $green;
      }
      .add, .remove-enable, .remove-disable, i {
        font-size: $p32;
      }
      .add, .remove-enable i:hover {
        font-size: $p32 + $p1;
      }
      .remove-disable {
        color: lighten($green, 40%);
      }
      .count {
        font-size: $p16 + $p4;
        line-height: $p40;
        font-weight: bolder;
        color: lighten($green, 40%);
      }
    }
    .more-buttons .options-button {
      font-weight: bolder;
      color: lighten($gray, 50%);
    }
  }

  .item-owned {
    border: solid $p4 lighten($green, 20%);
    .picture {
      opacity: 0.8;
    }
    .name {
      color: lighten($gray, 20%);
    }
    .qty-buttons .count {
      color: $green;
    }
  }
}
