// Graphical variables
@import 'config/fonts';
@import 'config/colors';
@import 'config/rem';
@import 'config/bootstrap_variables';

// External libraries
// @import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Your CSS partials
@import 'layouts/index';
@import 'components/index';
@import 'pages/index';

// GLOBAL RULES

body {
  background-color: white;
  min-width: $p456;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}

p {
  margin: 0;
}
