<div class="item-container"  data-reference=<%= reference.id %>>
  <%= image_tag "items/#{reference.picture}", class: "picture" %>
  <p class="name"><%= reference.name %></p>

  <!-- ITEM FORM -->

  <%= render 'user/items/form', item: @item, reference: reference %>

</div>
