<p class="cards-indication">
Here are all the items you can create
<%= " in category" unless session[:category].to_i.zero? %>
<strong><%= session[:category_name] unless session[:category].to_i.zero? %></strong>
</p>
<hr>
<div class="items-container">
  <% @references.each do |reference| %>
    <%= render 'item_references/reference', reference: reference %>
  <% end %>
  <%= render 'user/bags/cards/shadow_cards' %>
</div>
