#sign {
  margin: 4%;
  input[type="submit"] {
    border-radius: 0;
    color: white;
    background-color: $blue;
    margin-right: $p8;
  }
  .simple_form {
    width: 50%;
    margin: auto;
    .form-inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .form-group {
        margin: $p8;
        input {
          border-radius: 0;
        }
      }
    }
    .form-actions {
      text-align: right;
    }
  }
  .sign-in-button,
  .sign-up-button {
    border-radius: 0;
    color: white;
    background-color: $red;
    padding: $p8;
    margin-left: $p8;
  }
}
